In [1]:
import boto3
import pandas as pd
import ast
import json
import matplotlib.pyplot as plt
import time
import torch
import torch.nn.functional as F
import numpy as np
import copy
# from transformers import pipeline, AutoTokenizer, AutoModelForCausalLM, AutoModelForTokenClassification, AutoModel
import os
# from huggingface_hub import login
# from sentence_transformers import SentenceTransformer


# Configure pandas to display all columns and their full content without truncation
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_colwidth', None)  # Do not truncate column contents
pd.set_option('display.expand_frame_repr', False)  # Avoid wrapping to the next line

## load questions and sql queries in spider train

In [2]:
# Define your S3 bucket and file key
bucket_name = 'sagemaker-studio-423623869859-3no3d9ie4hx'

# Initialize the S3 client
s3_client = boto3.client('s3')

# Load the file from S3
obj = s3_client.get_object(Bucket=bucket_name, Key='df_question_entities_tables.csv')
df_question_entities_tables = pd.read_csv(obj['Body'])

obj = s3_client.get_object(Bucket=bucket_name, Key='df_schema_table.csv')
df_schema_table = pd.read_csv(obj['Body'])

obj = s3_client.get_object(Bucket=bucket_name, Key='embeddings.json')
embedded_dict = json.load(obj['Body'])
for key in embedded_dict:
    embedded_dict[key] = np.array(embedded_dict[key])

In [3]:
ct = 0
ct_max = 5
for key in embedded_dict:
    print(key)
    print(len(embedded_dict[key]))
    ct += 1
    if ct == ct_max:
        break

phone numbers
768
end station
768
musical actor
768
follower
768
egg
768

In [4]:
df_question_entities_tables['entities_for_tables'] = df_question_entities_tables['entities_for_tables'].apply(ast.literal_eval)
df_question_entities_tables['entities_for_columns'] = df_question_entities_tables['entities_for_columns'].apply(ast.literal_eval)
df_question_entities_tables['tables'] = df_question_entities_tables['tables'].apply(ast.literal_eval)
df_question_entities_tables['entities'] = df_question_entities_tables['entities'].apply(ast.literal_eval)

In [5]:
df_question_entities_tables.shape

(7000, 6)

In [6]:
df_question_entities_tables.sample(frac=1).head(10)

                                                                                                                   question         entities_for_tables                                           entities_for_columns                                                                                                                                                                                          query                         tables                                                                             entities
674                                              Give the full name and phone of the customer who has the account name 162.         [customer, account]                               [full name, phone, account name]      SELECT T2.customer_first_name ,  T2.customer_last_name ,  T2.customer_phone FROM Accounts AS T1 JOIN Customers AS T2 ON T1.customer_id  =  T2.customer_id WHERE T1.account_name  =  "162"          [Customers, Accounts]                                  [customer, account, full name, phone, account name]
5770                     Find the emails and phone numbers of all the customers, ordered by email address and phone number.                 [customers]                         [emails, phone numbers, email address]                                                                                                     SELECT email_address ,  phone_number FROM customers ORDER BY email_address ,  phone_number                    [customers]                                    [customers, emails, phone numbers, email address]
6233                                                                     Give the classes that have more than two captains.                   [classes]                                                     [captains]                                                                                                                                 SELECT CLASS FROM captain GROUP BY CLASS HAVING count(*)  >  2                      [captain]                                                                  [classes, captains]
5289                                                              Who is the founders of companies whose first letter is S?                 [companies]                                       [founders, first letter]                                                                                                                                         SELECT founder FROM manufacturers WHERE name LIKE 'S%'                [manufacturers]                                                  [companies, founders, first letter]
2866                                                                        Find all the papers published by "Aaron Turon".                    [papers]                                                  [Aaron Turon]        SELECT t3.title FROM authors AS t1 JOIN authorship AS t2 ON t1.authid  =  t2.authid JOIN papers AS t3 ON t2.paperid  =  t3.paperid WHERE  t1.fname  =  "Aaron" AND t1.lname  =  "Turon"  [authorship, authors, papers]                                                                [papers, Aaron Turon]
3635  What are the first name, last name and id of the player with the most all star game experiences? Also list the count.                    [player]  [first name, last name, id, all star game experiences, count]  SELECT T1.name_first , T1.name_last ,  T1.player_id ,   count(*) FROM player AS T1 JOIN all_star AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.player_id ORDER BY count(*) DESC LIMIT 1;             [player, all_star]                [player, first name, last name, id, all star game experiences, count]
2775                             For each county, find the name of the county and the number of delegates from that county.                    [county]                                    [name, number of delegates]                                                                  SELECT T1.County_name ,  COUNT(*) FROM county AS T1 JOIN election AS T2 ON T1.County_id  =  T2.District GROUP BY T1.County_id             [election, county]                                                  [county, name, number of delegates]
1400      Find the minimum salary for the departments whose average salary is above the average payment of all instructors.  [departments, instructors]      [salary, average salary, minimum salary, average payment]                                                                 SELECT min(salary) ,  dept_name FROM instructor GROUP BY dept_name HAVING avg(salary)  >  (SELECT avg(salary) FROM instructor)                   [instructor]  [departments, instructors, salary, average salary, minimum salary, average payment]
439                                                                                           How many allergies are there?                 [allergies]                                                        [count]                                                                                                                                               SELECT count(DISTINCT allergy) FROM Allergy_type                 [Allergy_type]                                                                   [allergies, count]
5983                                                  Show all video game types and the number of video games in each type.               [video games]                                                [types, number]                                                                                                                                       SELECT gtype ,  count(*) FROM Video_games GROUP BY gtype                  [Video_games]                                                         [video games, types, number]

In [7]:
df_schema_table.shape

(749, 5)

In [8]:
df_schema_table.head(3)

   database       table processed_database processed_table   database_and_table
0  academic      author           academic          author      academic author
1  academic  conference           academic      conference  academic conference
2  academic      domain           academic          domain      academic domain

In [9]:
df_schema_table['embedding'] = df_schema_table['database_and_table'].apply(lambda x : x.lower()).map(embedded_dict)

In [10]:
df_schema_table.isna().sum()

database              0
table                 0
processed_database    0
processed_table       0
database_and_table    0
embedding             0
dtype: int64

In [11]:
df_schema_table.head(1)

   database   table processed_database processed_table database_and_table                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        embedding
0  academic  author           academic          author    academic author  [0.025645531713962555, 0.0742696076631546, -0.004432312212884426, 0.012715279124677181, -0.014841729775071144, -0.014733493328094482, 0.09128323197364807, 0.03157993406057358, -0.015109768137335777, 0.019560782238841057, 0.05157171189785004, 0.05434355512261391, -0.03596740588545799, 0.036288950592279434, 0.02790152095258236, 0.00871801096946001, -0.01697620376944542, 0.03884623944759369, 0.1441171020269394, -0.035446859896183014, -0.05303538963198662, 0.01372064184397459, -0.003383792471140623, 0.033779315650463104, 0.018980078399181366, -0.03765243664383888, 0.04184789955615997, -0.001720184925943613, 0.012179960496723652, 0.0810307189822197, 0.045781951397657394, 0.016897069290280342, -0.03842933103442192, -0.030939439311623573, 1.168659764516633e-06, 0.029574420303106308, -0.004737870302051306, -0.0009187128162011504, 0.04264272376894951, -0.02760082669556141, 0.044564224779605865, 0.09870371967554092, -0.05626872181892395, 0.023318400606513023, -0.04494043067097664, 0.005029047839343548, 0.015962352976202965, 0.04478465020656586, -0.06643695384263992, 0.014912978745996952, 0.0077165234833955765, -0.03825429826974869, 0.05210268124938011, -0.02390531450510025, -0.02450334094464779, 0.014174302108585835, 0.00895096268504858, 0.008809899911284447, -0.01938359998166561, 0.09609752893447876, 0.03211810439825058, 0.043194565922021866, -0.03939264267683029, -0.006576254032552242, 0.03727315366268158, 0.04458096623420715, 0.07531660795211792, 0.0060681491158902645, 0.06635133177042007, -0.006314987316727638, 0.1002747192978859, 8.970334602054209e-05, 0.04085642844438553, 0.08544538170099258, -0.00057821354130283, 0.08088438212871552, 0.0416874997317791, 0.032923661172389984, -0.03228451684117317, -0.031806766986846924, 0.049014829099178314, 0.006755518261343241, 0.0030282107181847095, 0.09359920769929886, -0.012934922240674496, -0.001040241215378046, -0.029447052627801895, -0.005058777052909136, 0.010800394229590893, -0.02510487660765648, 0.0500672310590744, -0.009793831966817379, 0.03679483383893967, 0.02442980371415615, -0.004229494836181402, -0.030768124386668205, 0.02584119886159897, -0.07453466951847076, -0.0545203723013401, 0.028709612786769867, ...]

In [13]:
search_corpus = df_schema_table[['embedding', 'database', 'table']].values.tolist()

In [42]:
def cosine_similarity(vec1, vec2):
    # Ensure inputs are 1D vectors
    if vec1.ndim != 1 or vec2.ndim != 1:
        print("Input vectors are not 1D:")
        print("vec1:", vec1)
        print("vec2:", vec2)
        raise ValueError("Both input vectors must be 1D.")
    
    dot_product = np.dot(vec1, vec2)
    norm_a = np.linalg.norm(vec1)
    norm_b = np.linalg.norm(vec2)
    
    # Calculate cosine similarity
    result = dot_product / (norm_a * norm_b)
    
    # Ensure result is a scalar
    if not np.isscalar(result):
        print("Result is not a scalar:")
        print("vec1:", vec1)
        print("vec2:", vec2)
        print("Result:", result)
        raise ValueError("Cosine similarity result must be a scalar.")
    
    return result



def search_for_a_single_entity(entity, search_corpus, embedded_dict):
    entity_embedding = embedded_dict[entity]
    result = []
    search_corpus_copy = copy.deepcopy(search_corpus)
    entity_embedding = embedded_dict[entity]
    for ind, ele in enumerate(search_corpus_copy):
        document_embedding = ele[0]
        search_corpus_copy[ind].append(cosine_similarity(entity_embedding, document_embedding))
    return search_corpus_copy

def merge_and_sort_multiple_search_corpus_copies(list_of_search_corpus_copies):
    if list_of_search_corpus_copies == []:
        return None
    
    result = []
    for ind, ele in enumerate(list_of_search_corpus_copies[0]):
        result.append([])
        for search_corpus_copy in list_of_search_corpus_copies:
            result[-1].append(search_corpus_copy[ind][-1])
            
    search_corpus_copy_merged_and_sorted = []
    #print(result)
    for ind, ele in enumerate(list_of_search_corpus_copies[0]):
        search_corpus_copy_merged_and_sorted.append(ele[:3]+[max(result[ind])])
        
    return search_corpus_copy_merged_and_sorted
        

def find_index_of_a_table_from_ranked_list(target_table, search_corpus_copy_merged_and_sorted):
    if not search_corpus_copy_merged_and_sorted:
        return None
    target_table = target_table.lower()
    list_of_sorted_tables = [ele[2] for ele in search_corpus_copy_merged_and_sorted]
    list_of_sorted_tables = [ele.lower() for ele in list_of_sorted_tables]
    #print(target_table)
    #print(list_of_sorted_tables)
    index = list_of_sorted_tables.index(target_table)
    return index



ct1 = 0
ct2 = 0
for ind, row in df_question_entities_tables.iterrows():
    if ind % 10 == 9:
        print(ind, ct1, ct2)
    ground_truth_tables = row['tables']
    entities_for_tables = row['entities_for_tables']
    list_of_search_corpus_copies = []
    if entities_for_tables == []:
        print('no entities for tables')
    for entity in entities_for_tables:
        list_of_search_corpus_copies.append(search_for_a_single_entity(entity.lower(), search_corpus, embedded_dict))
    search_corpus_copy_merged_and_sorted = merge_and_sort_multiple_search_corpus_copies(list_of_search_corpus_copies)
    #print(type(ground_truth_tables))
    
    ground_truth_table_indices = []
    #print(ground_truth_tables)
    for ground_truth_table in ground_truth_tables:
        try:
            ground_truth_table_indices.append(find_index_of_a_table_from_ranked_list(ground_truth_table, search_corpus_copy_merged_and_sorted))
            ct1 += 1
        except:
            ct2 += 1
            
print(ct1)
print(ct2)

9 5 6
19 12 15
29 22 15
no entities for tables
39 37 15
49 51 15
59 64 15
69 81 15
79 99 15
89 119 15
99 135 15
109 155 15
119 165 15
129 175 15
139 187 15
149 203 15
159 219 15
169 235 15
179 249 15
189 259 15
199 273 15
209 289 15
219 303 15
229 316 15
239 327 15
249 337 15
259 356 15
269 368 15
279 374 20
289 374 34
299 374 49
no entities for tables
no entities for tables
309 382 52
319 396 52
329 408 52
339 422 52
349 432 52
359 442 52
369 452 52
379 462 52
389 472 52
399 482 52
409 492 52
419 510 52
429 534 52
439 558 52
449 568 52
459 578 52
469 588 52
479 598 52
489 608 52
499 618 52
509 630 52
519 646 52
529 672 52
539 694 52
549 710 52
559 724 52
569 734 52
579 748 52
589 762 52
599 774 52
609 786 52
619 798 52
629 816 52
639 842 52
649 868 52
659 870 62
669 877 76
679 891 76
689 909 76
699 919 76
709 933 76
719 949 76
729 961 76
739 971 76
749 983 76
759 993 76
769 1003 76
779 1017 76
789 1035 76
799 1045 76
809 1055 78
819 1063 80
829 1073 88
839 1085 92
849 1099 94
859 1113 98
869 1125 104
879 1137 110
889 1151 112
899 1163 114
909 1179 114
919 1199 114
929 1219 114
939 1231 114
no entities for tables
949 1245 114
959 1265 114
969 1283 114
979 1297 114
989 1307 114
999 1323 114
1009 1335 114
1019 1347 114
1029 1355 118
1039 1364 127
1049 1370 134
1059 1380 137
1069 1390 137
1079 1407 137
1089 1427 137
1099 1440 137
1109 1454 137
1119 1464 137
1129 1475 137
1139 1494 137
1149 1506 137
1159 1519 137
1169 1534 137
1179 1547 137
1189 1563 137
1199 1574 137
1209 1584 137
1219 1594 137
1229 1613 137
1239 1633 137
1249 1652 137
1259 1662 137
1269 1673 137
1279 1688 137
1289 1710 137
1299 1728 137
1309 1744 137
1319 1758 137
1329 1768 142
1339 1773 147
1349 1783 154
1359 1787 161
1369 1793 166
1379 1803 167
1389 1808 177
1399 1813 185
1409 1815 193
1419 1823 202
1429 1833 212
1439 1843 229
1449 1845 246
1459 1860 260
1469 1866 271
1479 1866 284
1489 1866 294
1499 1873 297
1509 1892 297
1519 1906 297
1529 1928 297
1539 1944 297
1549 1958 297
1559 1974 297
1569 1992 297
1579 2006 297
1589 2018 297
1599 2032 297
1609 2046 297
1619 2064 297
1629 2080 297
1639 2090 297
1649 2107 297
1659 2117 297
1669 2129 297
1679 2145 297
1689 2167 297
1699 2174 302
1709 2183 312
1719 2190 325
1729 2200 327
1739 2209 337
1749 2222 337
1759 2238 337
1769 2258 337
1779 2271 339
1789 2275 348
1799 2285 363
1809 2295 378
1819 2303 397
1829 2310 412
1839 2310 431
1849 2315 442
1859 2328 442
1869 2343 442
1879 2355 442
1889 2365 442
1899 2379 442
1909 2394 442
1919 2405 442
1929 2424 442
1939 2435 442
1949 2445 442
1959 2462 442
1969 2479 442
1979 2491 442
1989 2505 442
1999 2520 442
2009 2530 442
2019 2540 442
2029 2558 442
2039 2576 442
2049 2586 442
2059 2600 442
2069 2618 442
2079 2636 442
2089 2650 442
2099 2669 442
2109 2680 442
2119 2696 442
2129 2711 442
2139 2721 445
2149 2737 445
2159 2745 451
2169 2745 469
2179 2745 489
2189 2745 511
2199 2745 525
2209 2745 539
2219 2745 559
2229 2745 581
2239 2751 593
2249 2761 593
2259 2785 593
2269 2797 593
2279 2811 593
2289 2829 593
2299 2843 593
2309 2855 593
2319 2872 593
2329 2884 593
2339 2897 593
2349 2908 593
2359 2923 593
2369 2939 593
2379 2957 593
2389 2981 593
2399 2994 593
2409 3004 593
2419 3019 593
2429 3035 593
2439 3046 593
2449 3056 593
2459 3073 593
2469 3090 593
2479 3114 593
2489 3136 593
2499 3151 593
2509 3171 593
2519 3190 593
2529 3205 593
2539 3218 593
2549 3228 593
2559 3247 593
2569 3261 593
2579 3265 602
2589 3265 614
2599 3265 624
2609 3265 640
2619 3265 650
2629 3265 660
2639 3265 673
2649 3271 685
2659 3288 685
no entities for tables
2669 3298 685
2679 3310 685
2689 3335 685
2699 3346 685
2709 3356 685
2719 3375 685
2729 3399 685
2739 3418 685
2749 3428 685
2759 3439 685
2769 3459 685
2779 3478 685
2789 3490 685
2799 3505 685
2809 3518 685
2819 3538 685
2829 3548 685
2839 3563 685
2849 3580 685
2859 3594 686
2869 3594 706
2879 3594 736
2889 3594 766
2899 3594 800
2909 3594 822
2919 3594 840
2929 3599 845
2939 3612 845
2949 3629 845
2959 3645 845
2969 3667 845
2979 3684 845
2989 3695 845
2999 3713 845
3009 3727 845
3019 3737 845
3029 3749 845
3039 3759 845
3049 3773 845
3059 3785 845
3069 3805 845
3079 3827 845
3089 3845 845
3099 3855 845
3109 3870 845
3119 3890 845
3129 3912 845
3139 3935 845
3149 3954 845
3159 3968 846
3169 3983 846
3179 3995 852
3189 4005 856
3199 4015 856
3209 4023 864
3219 4031 870
3229 4041 872
3239 4049 878
3249 4059 892
3259 4069 904
3269 4079 908
3279 4093 920
3289 4105 934
3299 4119 946
3309 4137 948
3319 4157 964
3329 4173 978
3339 4185 986
3349 4195 986
3359 4209 986
3369 4221 986
3379 4233 986
3389 4243 986
3399 4254 986
3409 4272 986
3419 4282 986
3429 4292 986
3439 4302 986
3449 4306 992
3459 4314 994
3469 4328 1002
3479 4338 1002
3489 4350 1004
3499 4364 1006
3509 4374 1006
3519 4388 1008
3529 4414 1010
3539 4426 1010
3549 4442 1010
3559 4460 1010
3569 4474 1010
3579 4488 1010
3589 4502 1010
3599 4516 1010
3609 4536 1010
3619 4550 1010
3629 4566 1010
3639 4584 1010
3649 4600 1010
3659 4616 1010
3669 4634 1010
3679 4652 1010
3689 4664 1010
3699 4686 1010
3709 4700 1010
3719 4712 1012
3729 4723 1020
3739 4733 1020
3749 4747 1020
3759 4761 1020
3769 4773 1020
3779 4783 1020
3789 4793 1020
3799 4803 1020
3809 4820 1020
3819 4840 1020
3829 4860 1020
3839 4880 1020
3849 4900 1020
3859 4917 1020
3869 4932 1020
3879 4945 1020
3889 4955 1020
3899 4969 1020
3909 4985 1020
3919 5005 1020
3929 5028 1020
3939 5045 1020
3949 5065 1020
3959 5082 1020
3969 5095 1020
3979 5119 1020
3989 5149 1020
3999 5171 1020
4009 5181 1020
4019 5192 1020
4029 5208 1021
4039 5208 1031
4049 5211 1041
4059 5219 1045
4069 5229 1055
4079 5239 1065
4089 5240 1075
4099 5245 1082
4109 5261 1082
4119 5274 1082
4129 5284 1082
4139 5303 1082
4149 5316 1082
4159 5330 1082
4169 5342 1082
4179 5355 1082
4189 5366 1082
4199 5376 1082
4209 5386 1082
4219 5402 1082
4229 5418 1082
4239 5432 1082
4249 5446 1082
4259 5458 1082
4269 5488 1082
4279 5518 1082
4289 5530 1082
4299 5549 1082
4309 5578 1082
4319 5608 1082
4329 5631 1082
4339 5657 1082
4349 5674 1082
4359 5691 1082
4369 5712 1082
4379 5726 1082
4389 5742 1082
4399 5757 1082
4409 5769 1082
4419 5784 1082
4429 5794 1082
4439 5808 1082
4449 5828 1082
4459 5847 1082
4469 5870 1082
4479 5887 1082
4489 5902 1082
4499 5919 1082
4509 5929 1082
4519 5943 1082
4529 5965 1082
4539 5977 1082
4549 5987 1082
4559 5997 1082
4569 6019 1082
4579 6031 1082
4589 6041 1082
4599 6056 1082
4609 6070 1082
4619 6089 1082
4629 6102 1082
4639 6116 1082
4649 6126 1082
4659 6136 1082
4669 6146 1082
4679 6162 1082
4689 6182 1082
4699 6208 1082
4709 6228 1082
4719 6242 1082
4729 6256 1082
4739 6276 1082
4749 6288 1082
4759 6300 1082
4769 6322 1082
4779 6338 1082
4789 6360 1082
4799 6372 1082
4809 6382 1082
4819 6400 1082
4829 6420 1082
4839 6440 1082
4849 6460 1082
4859 6475 1082
4869 6485 1082
4879 6496 1082
4889 6513 1082
4899 6525 1082
4909 6535 1082
4919 6551 1082
4929 6577 1082
4939 6589 1082
4949 6603 1082
4959 6612 1083
4969 6615 1090
4979 6625 1090
4989 6629 1097
4999 6639 1103
5009 6650 1113
5019 6660 1123
5029 6669 1131
5039 6675 1140
5049 6685 1142
5059 6695 1142
5069 6707 1142
5079 6725 1142
5089 6740 1142
5099 6751 1142
5109 6761 1142
5119 6771 1142
5129 6790 1142
5139 6807 1142
5149 6827 1142
5159 6845 1142
5169 6861 1142
5179 6874 1142
5189 6899 1142
5199 6920 1142
5209 6937 1142
5219 6956 1142
5229 6974 1142
5239 6993 1142
5249 7020 1142
5259 7043 1142
5269 7069 1142
5279 7085 1142
5289 7095 1142
5299 7107 1142
5309 7117 1142
5319 7134 1142
5329 7147 1142
5339 7158 1142
5349 7174 1142
5359 7185 1142
5369 7204 1142
5379 7220 1142
5389 7236 1142
5399 7259 1142
5409 7271 1142
5419 7281 1142
5429 7302 1142
5439 7318 1142
5449 7333 1142
5459 7343 1142
5469 7353 1142
5479 7370 1142
5489 7390 1142
5499 7410 1142
5509 7421 1142
5519 7431 1142
5529 7441 1142
5539 7453 1142
5549 7473 1142
5559 7497 1142
5569 7528 1142
5579 7561 1142
5589 7577 1142
5599 7601 1142
5609 7615 1142
5619 7625 1142
5629 7647 1142
5639 7659 1142
5649 7674 1142
5659 7686 1142
5669 7703 1142
5679 7713 1142
5689 7721 1144
5699 7729 1148
5709 7739 1156
5719 7747 1160
5729 7757 1162
5739 7771 1163
5749 7799 1164
5759 7813 1182
5769 7831 1200
5779 7847 1200
5789 7865 1200
5799 7881 1200
5809 7893 1200
5819 7905 1200
5829 7915 1200
5839 7932 1200
5849 7945 1200
5859 7957 1200
5869 7974 1200
5879 7988 1200
5889 8003 1200
5899 8013 1200
5909 8023 1200
5919 8039 1200
5929 8059 1200
5939 8079 1200
5949 8091 1200
5959 8109 1200
5969 8135 1200
5979 8145 1200
5989 8155 1200
5999 8165 1200
6009 8177 1200
6019 8189 1200
6029 8207 1200
6039 8225 1200
6049 8243 1200
6059 8261 1200
6069 8271 1200
6079 8285 1200
no entities for tables
6089 8311 1200
6099 8323 1200
6109 8341 1200
6119 8367 1200
6129 8385 1200
6139 8405 1200
6149 8423 1200
6159 8433 1200
6169 8447 1200
6179 8465 1200
6189 8475 1200
6199 8489 1200
6209 8501 1200
6219 8516 1200
6229 8527 1200
6239 8537 1200
6249 8547 1200
6259 8558 1200
6269 8577 1200
6279 8596 1200
6289 8612 1200
6299 8635 1200
6309 8647 1200
6319 8661 1200
6329 8680 1200
6339 8691 1200
6349 8707 1200
6359 8718 1200
6369 8733 1200
6379 8749 1200
6389 8762 1200
6399 8776 1200
6409 8786 1200
6419 8798 1200
6429 8810 1200
6439 8826 1200
6449 8836 1200
6459 8852 1200
6469 8870 1200
6479 8880 1200
6489 8900 1200
6499 8918 1200
6509 8940 1200
6519 8962 1202
6529 8962 1212
6539 8962 1226
6549 8962 1244
6559 8962 1260
6569 8962 1274
6579 8962 1284
6589 8962 1298
6599 8962 1316
6609 8972 1316
6619 8990 1316
6629 9004 1316
6639 9014 1316
6649 9031 1316
6659 9048 1316
6669 9058 1316
6679 9070 1316
6689 9087 1316
6699 9104 1316
6709 9123 1316
6719 9139 1316
6729 9149 1316
6739 9159 1316
6749 9169 1316
6759 9189 1316
6769 9205 1316
6779 9225 1316
6789 9245 1316
6799 9271 1316
6809 9281 1322
6819 9281 1332
6829 9281 1346
6839 9281 1362
6849 9281 1374
6859 9281 1384
6869 9281 1400
6879 9281 1422
6889 9285 1434
6899 9301 1434
6909 9321 1434
6919 9343 1434
6929 9357 1434
6939 9373 1434
6949 9398 1434
6959 9416 1434
6969 9428 1434
6979 9438 1434
6989 9448 1434
6999 9465 1434
9467
1434